@charset "UTF-8";

@import url(reset.css);

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

/* font-family: 'Noto Sans KR', sans-serif; */

/* layouts */
#header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    z-index: 100;
}

#banner {
    position: relative;
    margin-top: 51px;
    overflow: hidden;
}

#movie {
    background-color: #f2f2f2;
}

#event {}

#openning {
    margin: 24px 0;
    background: url(../img/bg01.jpg) no-repeat center top;
    background-size: cover;
}

#new {}

#help {}

#footer {
    background-color: #211f1f;
}

/* mid-area */
.container {
    width: 1280px;
    margin: 0 auto;
}

/* row area */
.row {
    padding: 0 16px;
}

/* mobile menu */
#mNav {
    position: absolute;
    display: none;
    right: 0;
    top: 23px;
}

#mNav .ham {
    display: block;
    width: 25px;
    height: 4px;
}

#mNav .ham span {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
    background-color: #39106a;
}

#mNav .ham span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 100%;
    background-color: #39106a;
}

#mNav .ham span::before {
    content: "";
    position: absolute;
    left: 0;
    top: -7px;
    width: 100%;
    height: 100%;
    background-color: #39106a;
}

/* header */
.header {
    position: relative;
}

.header h1 {
    float: left;
}

.header h1 a {}

.header h1 a em {
    display: inline-block;
    padding: 8px 8px 3px 0;
}

.header h1 a em img {
    width: 155px;
}

.header h1 a strong {
    position: absolute;
    left: 170px;
    top: 14px;
}

.header h1 a strong img {
    width: 157px;
}

.header .nav {
    float: right;
}

.header .nav ul {
    border-left: 1px solid #ccc;
}

.header .nav ul li {
    float: left;
    border-right: 1px solid #ccc;
}

.header .nav ul li a {
    display: block;
    padding: 14px 10px;
    font-size: 15px;
    font-weight: 700;
    color: #444;
}

/* banner */
.banner_menu {
    position: absolute;
    left: 0;
    top: 20px;
    z-index: 10;
    width: 100%;
}

.banner_menu a {
    font-size: 16px;
    color: #fff;
    transition: 0.3s;
}

.banner_menu .line {
    position: relative;
}

.banner_menu .line::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 14px;
    background-color: #fff;
    right: -14px;
    top: 2px;
}

.banner_menu a:hover {
    color: #38116a;
}

.banner_menu .bm_left {
    float: left;
}

.banner_menu .bm_left ul {
    padding-top: 10px;
}

.banner_menu .bm_left ul li {
    display: inline;
    margin-right: 30px;
}

.banner_menu .bm_left ul li a {}

.banner_menu .bm_right ul li.total a {
    font-size: 14px;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 3px 10px;
    border-radius: 1px;
    text-shadow: 0 0 3px #000;
}

.banner_menu .bm_left ul li.line {
    margin-right: 30px;
}

.banner_menu .bm_left ul li.total a:hover {
    color: #000;
    background-color: #fff;
    border-color: #000;
    text-shadow: none;
}

.banner_menu .bm_right {
    float: right;
}

.banner_menu .bm_right ul {
    float: left;
}

.banner_menu .bm_right ul:first-child {
    padding-top: 10px;
}

.banner_menu .bm_right ul li {
    display: inline;
    margin-right: 20px;
}

.banner_menu .bm_right ul li a {}

.banner_menu .bm_right ul li.whit {
    margin-right: 10px;
}

.banner_menu .bm_right ul li.purple {
    margin-right: 0;
}

.banner_menu .bm_right ul li.white a {
    display: inline-block;
    width: 142px;
    color: #3a0e6a;
    text-align: center;
    background-color: #fff;
    padding: 7px 0;
    border: 1px solid #be40c4;
    border-radius: 3px;
}

.banner_menu .bm_right ul li.purple a {
    display: inline-block;
    width: 142px;
    color: #fff;
    text-align: center;
    background-color: #3a0e6a;
    padding: 7px 0;
    border: 1px solid #be40c4;
    border-radius: 3px;
}

/* banner-slider */
.slider {}

.slider .swiper-slide {
    padding-bottom: 560px;
}

.slider .ss1 {
    background: url(../img/Witch_1920774.jpg) no-repeat center;
    background-size: cover;
}

.slider .ss2 {
    background: url(../img/Bigtrip_banner.jpg) no-repeat center;
    background-size: cover;
}

.slider .ss3 {
    background: url(../img/Apu_1920774.jpg) no-repeat center;
    background-size: cover;
}

.slider .swiper-button-prev,
.swiper-button-next {
    color: #3a0e6a;
    font-weight: bold;
}

.slider .swiper-pagination-bullet {
    width: 13px;
    height: 13px;
    background-color: #be40c4;
}

/* movie section */
.movie {
    overflow: hidden;
    padding: 100px 0;
}

.movie .movie_tit {
    margin-bottom: 60px;
}

.movie .movie_tit ul {
    width: 850px;
    margin: 0 auto;
}

.movie .movie_tit ul li {
    width: 210px;
    float: left;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    text-align: center;
    /* border 선 겹치는거 처리하는 법 */
    margin-right: -1px;
}

.movie .movie_tit ul li.bar {
    display: none;
}

.movie .movie_tit ul li a {
    display: block;
    padding: 15px 0;
    font-size: 18px;
    color: #666;
    font-weight: 500;
}

.movie .movie_tit ul li.active a {
    background-color: #666;
    color: #fff;
}

/* moviechart */
.movie_chart {}

.movie_chart .poster {
    position: relative;
}

.movie_chart .poster figure {}

.movie_chart .poster figure img {
    display: block;
}

.movie_chart .poster .rank {
    position: absolute;
    left: 0;
    top: 15px;
    width: 50px;
    height: 50px;
    background-color: #34116a;
    text-align: center;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.9);
    line-height: 50px;
}

.movie_chart .poster .rank strong {
    color: #fff;
    font-size: 20px;
}

.movie_chart .poster .mx {
    position: absolute;
    right: 0;
    top: 20px;
}

.movie_chart .poster .mx span {
    position: relative;
    display: block;
    width: 100px;
    height: 21px;
}

.movie_chart .poster .mx .icon {}

.movie_chart .poster .mx .icon.m {
    background-position: -1px -76px;
    margin-bottom: 4px;
}

.movie_chart .poster .mx .icon.b {
    background-position: -1px -101px;
}

.movie_chart .infor {
    background: #fff;
    border: 1px solid #d9d9d9;
    padding: 17px;
}

.movie_chart .infor h3 {
    color: #333;
    font-size: 20px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}

.movie_chart .infor h3 span {
    width: 27px;
    height: 27px;
}

.movie_chart .infor h3 span.all {
    background-position: -88px -126px;
}

.movie_chart .infor h3 span.a12 {
    background-position: -1px -126px;
}

.movie_chart .infor h3 span.a15 {
    background-position: -30px -126px;
}

.movie_chart .infor h3 span.a19 {
    background-position: -59px -126px;
}

.movie_chart .infor h3 strong {
    padding-left: 37px;
}

.movie_chart .infor .info_btn {
    overflow: hidden;
}

.movie_chart .infor .info_btn a {
    text-align: center;
    float: left;
    width: 49%;
    background-color: #f2f2f2;
    padding: 10px 0;
    font-size: 18px;
}

.movie_chart .infor .info_btn a+a {
    margin-left: 2%;
}

/* event */
.event {
    padding: 100px 0;
}

.event img {
    display: block;
}

.event h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.event .event_L {
    float: left;
    width: 66%;
    margin-right: 2%;
}

.event .event_L .event_slide {}

.event .event_L .event_slide img {}

.event .event_L .event_box1 {
    float: left;
    width: 50%;
}

.event .event_L .event_box1 img {}

.event .event_L .event_box2 {
    float: left;
    width: 50%;
}

.event .event_L .event_box2 img {}

.event .event_R {
    float: left;
    width: 32%;
}

.event .event_R img {}

/* openning */
.openning {
    padding: 100px 0;
    text-align: center;
}

.openning .grand {
    display: inline-block;
    width: 330px;
    height: 44px;
    background-position: 0 -175px;
    position: relative;
    margin-bottom: 20px;
}

.openning .date {
    display: inline-block;
    width: 260px;
    height: 30px;
    background-position: 0 -235px;
    position: relative;
}

.openning .desc {
    color: #bb9651;
    font-size: 35px;
    background: url(../img/bar.png) no-repeat center bottom;
    background-size: 100%;
    padding-bottom: 20px;
}

.openning .open_box {}

.openning .open_box div {
    float: left;
    width: 27.3333%;
    margin: 4% 3% 0;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid #3e4b44;
    box-sizing: border-box;
}

.openning .open_box div h3 {
    display: inline-block;
    color: #fff;
    font-size: 20px;
    background-color: #551e96;
    padding: 10px 20px;
    margin-top: -25px;
}

.openning .open_box div p {
    color: #fff;
    font-size: 27px;
    font-weight: 300;
    padding: 15px 25px;
}

.openning .open_box div p em {
    display: block;
}

.openning .open_box div p strong {
    display: block;
}

/* new */
.new {
    position: relative;
    padding: 100px 0;
}

.new h2 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.new .new_L {
    position: relative;
    height: 500px;
    background: url(../img/new01.jpg) no-repeat center;
    background-size: cover;
    margin-right: 423px;
}

.new .new_L .play {
    width: 120px;
    height: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.new .new_L .play svg {
    width: 100%;
}

.new .new_R {
    position: absolute;
    right: 0;
    top: 165px;
    width: 400px;
    height: 500px;
    background-color: #f0f0f0;
    box-sizing: border-box;
    padding: 34px;
}

.new .new_R .title {
    font-size: 28px;
    color: #000;
}

.new .new_R .release {
    font-size: 15px;
    color: #333;
}

.new .new_R .star {
    margin: 13px 0;
}

.new .new_R .star span {
    display: inline-block;
    width: 19px;
    height: 19px;
    vertical-align: -3px;
}

.new .new_R .star span.star1 {
    background-position: -394px 0;
}

.new .new_R .star span.star2 {
    background-position: -413px 0;
}

.new .new_R .star span.star0 {
    background-position: -375px 0;
}

.new .new_R .star strong {
    font-size: 18px;
    padding-left: 5px;
}

.new .new_R .summary {}

.new .new_R .summary .gener {
    padding-bottom: 3px;
}

.new .new_R .summary .gener span {}

.new .new_R .summary .age {
    padding-bottom: 10px;
}

.new .new_R .summary .age span {}

.new .new_R .summary .desc {
    height: 100px;
    overflow: hidden;
    margin-bottom: 20px;
}

.new .new_R .select .s1 {
    float: left;
    width: 49%;
    margin-right: 2%;
}

.new .new_R .select .s1 .ui_select2 {}

.new .new_R .select .s2 {
    float: left;
    width: 49%;
}

.new .new_R .select .s3 {
    float: left;
    width: 100%;
    margin-top: 2%;
}

.new .new_R .btn {
    margin-top: 2%;
}

.new .new_R .btn a {
    float: left;
    width: 49%;
    box-sizing: border-box;
    text-align: center;
    padding: 10px 30px 12px;
}

.new .new_R .btn .white {
    background-color: #fff;
    margin-right: 2%;
    border: 1px solid #fff;
}

.new .new_R .btn .purple {
    background-color: #3a0e6a;
    color: #fff;
    border: 1px solid #6e49c4;
}

/* help */
.help {
    padding-bottom: 100px;
}

.help>article {
    float: left;
    width: 32%;
    margin-right: 2%;
}

.help>article.help_box3 {
    margin-right: 0;
}

.help>article h3 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 20px;
}

.help>article>div {
    height: 350px;
    border: 1px solid #dbdbdb;
}

.help>article.help_box3>div {
    border: 0;
}

.help .help_box1 {}

.help .help_box1 .notice {
    position: relative;
    padding: 17px;
}

.help .help_box1 .notice ul {}

.help .help_box1 .notice ul li {
    float: left;
    text-align: center;
}

.help .help_box1 .notice ul li a {
    display: block;
    width: 80px;
    font-size: 15px;
    border: 1px solid #dbdbdb;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.help .help_box1 .notice ul li.active a {
    background-color: #3a0e6a;
    color: #fff;
}

.help .help_box1 .notice ul li ul {
    position: absolute;
    left: 17px;
    top: 50px;
    width: 90%;
}

.help .help_box1 .notice ul li ul li {
    width: 100%;
    text-align: left;
    border-bottom: 1px solid #dbdbdb;
    padding: 17px;
    box-sizing: border-box;
}

.help .help_box1 .notice ul li ul li dd {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* 할인카드 */
.card {
    padding: 17px;
}

.card ul {}

.card ul li {
    position: relative;
    padding: 17px;
    border: 1px solid #dbdbdb;
    height: 105px;
    margin-bottom: 17px;
    box-sizing: border-box;
}

.card ul li a {}

.card ul li a span {
    position: absolute;
    left: 17px;
    top: 17px;
}

.card ul li a span img {
    width: 115px;
}

.card ul li a strong {
    padding-left: 130px;
}

.card ul li a em {
    display: block;
    padding-left: 130px;
    font-size: 14px;
}

.service {}

.service ul {}

.service ul li {
    float: left;
    width: 50%;
    height: 193px;
    border: 1px solid #dbdbdb;
    box-sizing: border-box;
    text-align: center;
}

.service ul li:nth-child(1) {
    border-right: 0;
    border-bottom: 0;
}

.service ul li:nth-child(4) {
    border-left: 0;
    border-top: 0;
}

.service ul li span {
    display: block;
    width: 120px;
    height: 120px;
    margin: 20px auto;
}

.service ul li span svg {
    width: 100%;
}

.service ul li:nth-child(2) span svg {
    width: 100%;
    padding-top: 12px;
}

.service ul li strong {
    margin-top: 5px;
}

/* footer */
#footer {
    position: relative;
}

.footer_sns {
    position: absolute;
    right: 16px;
    top: 30px;
}


#footer_sns ul {}

#footer_sns ul li {
    width: 36px;
    height: 36px;
    display: inline-block;
    margin-right: 4px;
}

#footer_sns ul li a {}

#footer_sns ul li a span {}

#footer_sns ul li.s1 {
    background-position: 0 -374px;
}

#footer_sns ul li.s2 {
    background-position: -35px -374px;
}

#footer_sns ul li.s3 {
    background-position: -71px -374px;
}

#footer_sns ul li.s4 {
    background-position: -107px -374px;
}

#footer_sns ul li.s5 {
    background-position: -144px -374px;
}

#footer_sns ul li.s1:hover {
    background-position: 0 -412px;
}

#footer_sns ul li.s2:hover {
    background-position: -35px -412px;
}

#footer_sns ul li.s3:hover {
    background-position: -71px -412px;
}

#footer_sns ul li.s4:hover {
    background-position: -107px -412px;
}

#footer_sns ul li.s5:hover {
    background-position: -144px -412px;
}

#footer_sns .tel a {
    color: #8f8f8f;
    font-size: 12px;
}

#footer_sns .tel a em {
    color: #fff;
}

.footer_info {
    padding: 15px 0;
}

.footer_info h2 {}

.footer_info h2 img {
    width: 150px;
}

.footer_info ul {}

.footer_info ul li {
    position: relative;
    display: inline-block;
    margin-right: 16px;
}

.footer_info ul li::after {
    content: "";
    position: absolute;
    right: -10px;
    top: 5px;
    width: 1px;
    height: 11px;
    background-color: #8f8f8f;
}

.footer_info ul li:last-child:after {
    width: 0;
    height: 0;
}

.footer_info ul li a {
    color: #8f8f8f;
}

.footer_info address {
    color: #8f8f8f;
}

.footer_infor address p {
    color: #8f8f8f;
}

.footer_infor address p span {}


/* tralier */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .92);
    z-index: 500;
display: none;
}

.overlay .modal {
    position: absolute;
}

.overlay .modal_close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;
    background: url(../img/close.svg) no-repeat;
    background-size: 30px;
    text-indent: -9999em;
    font-size: 0;
}

/*  ☆*: .｡. responsive .｡.:*☆  */
@media (max-width: 1290px) {
    .container {
        width: 100%;
    }

    .header .nav ul li:last-child {
        border-right: 0;
    }

    .card ul li a em br {
        display: none;
    }
}

@media (max-width: 1024px) {
    .header h1 a em {
        padding: 12px 11px 3px 0;
    }

    .header h1 a em img {
        width: 135px;
    }

    .header h1 a strong {
        left: 150px;
        top: 18px;
    }

    .help .help_box1 {
        width: 49%;
    }

    .help .help_box2 {
        width: 49%;
        margin-right: 0;
    }

    .help .help_box3 {
        width: 100%;
        margin-top: 2%;
    }

    .help>article.help_box3>div {
        height: auto;
        border: 1px solid #dbdbdb;
    }

    .help>article.help_box3 h3 {
        position: absolute;
        overflow: hidden;
        width: 0;
        height: 0;
        text-indent: -999999em;
    }

    .service ul li {
        width: 25%;
        height: auto;
        border: 0;
    }
}

@media (max-width: 960px) {
    .header .nav {
        display: none;
    }

    .header h1 {
        float: none;
        text-align: center;
    }

    .header h1 a strong {
        left: 0px;
    }

    #mNav {
        display: block;
    }

    #banner {
        margin-top: 46px;
    }

    .banner_menu .bm_left {
        display: none;
    }

    .banner_menu .bm_right ul:first-child {
        display: none;
    }

    .movie .movie_tit ul {
        width: auto;
    }

    .movie .movie_tit ul li {
        width: 25%;
    }

    .event {
        padding: 50px 0;
    }

    .openning {
        padding: 50px 0;
    }

    .openning .open_box {
        display: none;
    }

    .openning .desc {
        font-size: 24px;
        background: none;
        padding-bottom: 0;
    }

    .new {
        padding: 100px 0;
    }

    .new .new_L {
        margin-right: 0;
        height: 400px;
    }

    .new .new_R {
        position: relative;
        height: auto;
        top: 0;
        width: 100%;
    }

    .new .new_R .summary .desc {
        height: auto;
    }

    .help {
        padding-bottom: 50px
    }

    .footer_sns {
        position: static;
        text-align: center;
        background-color: #352c2c;
        padding: 15px;
    }

    #footer_sns .tel {
        display: none;
    }

    .footer_info {
        text-align: center;
    }
}

@media (max-width: 768px) {
    body {
        background-color: #d9d7e0;
    }

    .slider .swiper-slide {
        padding-bottom: 56.25%;
    }

    #movie {
        background-color: transparent;
    }

    #movie .row {
        padding: 24px;
        background-color: #fff;
    }

    #movie .row h2 {
        /* 포지션의 기본 값은 static */
        position: static;
        width: auto;
        height: auto;
        text-indent: 0px;
        line-height: normal;
        font-size: 24px;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .movie {
        padding: 0;
    }

    .movie .movie_tit {
        padding-bottom: 30px;
    }

    .movie .movie_tit ul {
        position: relative;
        padding-bottom: 10px;
    }

    .movie .movie_tit ul::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        right: 0;
        height: 2px;
        background-color: #e1e1e1;
    }

    .movie .movie_tit ul li {
        width: auto;
        border: none;
        margin-right: 35px;
    }

    .movie .movie_tit ul li.bar {
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75px;
        height: 2px;
        background-color: #999;
        opacity: 0;
        transition: 0.3s;
    }

    .movie .movie_tit ul li:nth-child(1).active~li.bar {
        left: 0;
        opacity: 1;
    }

    .movie .movie_tit ul li:nth-child(2).active~li.bar {
        left: 108px;
        opacity: 1;
    }

    .movie .movie_tit ul li:nth-child(3).active~li.bar {
        left: 214px;
        opacity: 1;
    }

    .movie .movie_tit ul li:nth-child(4).active~li.bar {
        left: 318px;
        opacity: 1;
    }

    .movie .movie_tit ul li a {
        font-size: 16px;
        font-weight: 400;
        padding: 0px 0px;
    }

    .movie .movie_tit ul li.active a {
        background-color: transparent;
        color: #666;
    }

    #event .row {
        padding: 24px;
    }

    .event {
        background-color: #fff;
        padding: 24px;
    }

    .event .event_L {
        width: auto;
        float: none;
        margin-right: 0;
    }

    .event .event_R {
        display: none;
    }

    #openning {
        margin: 0;
    }

    .openning .desc {
        font-size: 20px;
    }

    .new {
        padding: 16px;
        background-color: #fff;
    }

    #new .row {
        padding: 24px;
    }

    .new .new_R .title {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .help .help_box1 {
        width: 100%;
        background-color: #fff;
        margin-right: 0;
        margin-top: 24px;
        padding: 24px;
        box-sizing: border-box;
    }

    .help {
        padding: 0;
    }

    .help .help_box2 {
        width: 100%;
        background-color: #fff;
        margin-top: 24px;
        padding: 24px;
        box-sizing: border-box;
    }

    .help .help_box3 {
        background-color: #fff;
        margin-top: 24px;
        padding: 24px;
        box-sizing: border-box;
    }

    .help>article h3 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .help>article.help_box3>div {
        border: 0;
    }

    #help .row {
        padding: 24px;
    }
}

@media (max-width: 600px) {
    .header h1 strong {
        display: none;
    }

    .header h1 {
        text-align: left;
    }

    .banner_menu {
        top: 20px;
    }

    .banner_menu .bm_right ul li.white a {
        display: inline-block;
        width: 92px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        padding: 4px 0;
        border: 1px solid #6e40c4;
        font-size: 14px;
    }

    .banner_menu .bm_right ul li.purple a {
        display: inline-block;
        width: 92px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        text-align: center;
        padding: 4px 0;
        border: 1px solid #6e40c4;
        font-size: 14px;
    }

    #banner .swiper-button-next::after,
    #banner .swiper-button-prev::after {
        font-size: 8vw;
    }

    #movie .row {
        padding: 16px;
        margin: 8px;
        margin-right: 0;
        padding-right: 0;
    }

    #movie .container {
        position: relative;
    }

    #movie .container::after {
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        width: 8px;
        height: 100%;
        background-color: #d9d7e0;
    }

    #movie .row::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 24px;
        height: 100%;
        background-color: #fff;
    }

    .movie .movie_tit {
        padding-bottom: 0;
    }

    .movie .movie_tit ul li {
        margin-right: 5px;
    }

    .movie .movie_tit ul li a {
        font-size: 14px;
    }

    .movie .movie_tit ul li.bar {
        width: 66px;
    }

    .movie .movie_tit ul li:nth-child(1).active~li.bar {
        left: 0;
        opacity: 1;
    }

    .movie .movie_tit ul li:nth-child(2).active~li.bar {
        left: 69px;
        opacity: 1;
    }

    .movie .movie_tit ul li:nth-child(3).active~li.bar {
        left: 140px;
        opacity: 1;
    }

    .movie .movie_tit ul li:nth-child(4).active~li.bar {
        left: 200px;
        opacity: 1;
    }

    #event .row {
        padding: 8px;
    }

    .event {
        padding: 16px;
    }

    #openning {
        margin: 8px 0;
    }

    .openning {
        padding: 20px 0;
    }

    .openning .date {
        background: none;
        display: none;
    }

    .openning .grand {
        display: inline-block;
        width: 130px;
        height: 20px;
        background-size: 200px;
        background-position: 0px -67px;
    }

    .openning .desc {
        font-size: 16px;
    }

    #new .row {
        padding: 0 8px;
    }

    .new {
        padding: 16px;
    }

    .new h2 {
        font-size: 24px;
        font-weight: 700;
        margin-bottom: 10px;
    }

    .new .new_L {
        margin-right: 0;
        height: 300px;
    }

    .new h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }

    .new .new_L {
        height: 200px;
    }

    .new .new_L .play {
        width: 80px;
        height: 80px;
    }

    .new .new_R {
        padding: 17px;
    }

    .new .new_R .title {
        font-size: 22px;
    }

    .new .new_R .star {
        margin: 9px 0;
    }

    .new .new_R .select .s1 {
        width: 100%;
    }

    .new .new_R .select .s2 {
        width: 100%;
        margin-top: 2%;
    }

    #help .row {
        padding: 0 8px;
    }

    .help .help_box1 {
        padding: 16px;
        margin-top: 8px;
    }

    .help .help_box2 {
        padding: 16px;
        margin-top: 8px;
    }

    .help .help_bo31 {
        margin-top: 8px;
    }

    .help>article h3 {
        font-size: 18px;
        margin-bottom: 0px;
    }

    .service ul li {
        width: 50%;
    }

    .help .help_box3 {
        margin: 8px 0;
    }

    .footer_info address {
        display: none;
    }
}

@media (max-width: 480px) {
    .card ul li a span img {
        width: 100px;
    }

    .card ul li a strong {
        font-size: 12px;
        padding-left: 105px;
    }

    .card ul li a em {
        padding-left: 105px;
    }

    .new .new_R .btn a {
        padding: 10px 0 12px;
    }
}

@media (max-width: 320px) {}